//Color Theme Definitions
$primary-color: 'teal';
$primary-default-variant: '500';
$primary-light-variant: '200';
$primary-dark-variant: '900';
$accent-color: 'pink';
$accent-default-variant: 'a200';
$accent-light-variant: 'a100';
$accent-dark-variant: 'a400';

$dark-color: $black;
$light-color: $white;

$create-all-colors: true;
