@if($create-all-colors) {
  @each $color-name, $color-map in $material-colors-map {
    @each $color-variant, $color-value in $color-map {
      .bg-#{$color-name}-#{$color-variant} {
        background-color: $color-value;
        color: #{contrast-color($color-value)};
      }

      .fg-#{$color-name}-#{$color-variant} {
        color: $color-value;
      }
    }
  }
}
