@mixin material-color-selectors {
  .bg,
  .fg {
    &-primary {
      background-color: material-color($primary-color, $primary-default-variant);

      &.light {
        background-color: material-color($primary-color, $primary-light-variant);
      }

      &.dark {
        background-color: material-color($primary-color, $primary-dark-variant);
      }
    }

    @if($accent-color != null) {
      &-accent {
        background-color: material-color($accent-color, $accent-default-variant);

        &.light {
          background-color: material-color($accent-color, $accent-light-variant);
        }

        &.dark {
          background-color: material-color($accent-color, $accent-dark-variant);
        }
      }
    }
  }
}

@include material-color-selectors;
